header div {
    background-color: bisque;
    display: flex;
    justify-content: flex-end;
}

.parent {
    position: relative;
    display: flex;
    height: 50vh;
}

.card-one {
    background-color: white;
    border: 1px solid black;
    margin-left: 10vw;
}

.card-two {
    background-color: white;
    border: 1px solid black;
    margin-left: 10vw;
}

.card-three {
    background-color: white;
    border: 1px solid black;
    margin-left: 10vw;
}

.card-one div img {
    position: absolute;
    width: 100%;
}

header div .parent .card-one button {
    position: absolute;
    bottom: 0;
}

.vert1 {
    background-color: rgba(101, 155, 110, 0.534);
}

.vert 2 {
    background-color: rgb(0, 196, 95);
}